body {
  padding:60px 40px;
}

a:link {
  color:#222222;
}

a:hover{
  color:#111111;
}

a:visited{
  color:#333333;
}


.container {
  display:flex;
}

.btn {
  font-size: 15px;
  font-weight: 100;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 3px 12px;
  cursor: pointer;
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
  /*-webkit-transition: all 0.3s;*/
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.blogname {
  color: #003333;
  /*margin: 40px 10px;*/
  /*border-bottom: solid thin gray;*/
  font-size:20px;
  margin-bottom:10px;
}

.btn1 {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.btn1:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.item {
  margin-right: 15px;
}

.heading {
  border-bottom:solid thin gray;
  color:gray;
}

.content {
  padding:15px 20px 40px 20px;
}

.comment {
  color:gray;
}

.comment_name,.comment_date {
  font-size:13px;
}

.content__comment__form {
  border:solid thin gray;
  margin:20px 30px 40px 30px;
  padding:0px 30px 30px 30px;
  color:gray;
}

input[type=submit]{
  font-family: FontAwesome;
}

.comment_send_buttom {
  font-size:20px;
}

.button1 {
  display:block;
  position:relative;
  margin-top:30px;
}

.create {
  margin:30px 10px;
}

.Title_name {
  font-size:30px;
}

.post {
   padding: 0.5em 1em;
    margin: 2em 0;
    color: black;
    background: #DDDDDD;/*背景色*/
    border-top: solid 6px #808080;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}

.post_title {
  font-size:20px;
}

.post_body {
  padding-left:15px;
}

.paginationWrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 40px;
}

.paginationWrap ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.paginationWrap ul.pagination li {
  display: inline;
  margin-right: 4px;
}

.paginationWrap ul.pagination li a {
    color: #2f3859;
    padding: 8px 14px;
    text-decoration: none;
}

.paginationWrap ul.pagination li .active {
    background-color: #4b90f6;
    color: white;
    border-radius: 40px;
    width: 38px;
    height: 38px;
}

.paginationWrap ul.pagination li a:hover:not(.active) {
    background-color: #e1e7f0;
    border-radius: 40px;
}

.content_category {
  overflow: hidden;
	width: 90%;
}

.content_category select {
  padding-right:10px;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.back {
  margin-top:30px;
}